@import './variables';

.bg-or {
  background-color: $orange-light;
  border-radius: 1rem;
}

.big-icon-size {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
}

.icon-button-1 {
  cursor: pointer;
  transition: box-shadow 0.3s ease; /* 平滑过渡效果 */

  &:hover {
    color: $green; /* 鼠标悬停时的图标颜色 */
    @extend .text-shadow;
  }
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.box-shadow {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.box-shadow-2 {
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
}

.box-shadow-green {
  box-shadow: 0 1px 6px $green;
}

.normal-title {
  font-family: 'Nunito-ExtraBold', 'Nunito', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
}

.tag-1 {
  border: #df8c50 solid 0.06rem ;
  color: #DA6317FF;
  padding: 0.2rem 0.63rem;
  font-size: 80%;
  border-radius: 3.7rem;
  box-sizing: border-box;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:0.2rem;
}

.tag-2 {
  border: #e34e4d solid 0.08rem ;
  color: #E03D3C;
  padding: 0.06rem 0.63rem;
  font-size: 80%;
  border-radius: 0.3rem;
  box-sizing: border-box;
  white-space: nowrap;
  gap:0.2rem;
  display: flex;
  flex-direction: row;
}
